.list-filter {
  position: relative;
  width: 100%;
  margin: 5rem 0 0 0;

  & div {
    margin: 0.4rem;
  }

  & input,
  select {
    height: 4rem;
    width: 16rem;
    border: none;
    border: 0.1rem solid rgba($border-color, 0.3);
    color: $border-color;
  }
}

.no-expense {
  font-size: 3rem;
  margin-top: 4rem;
}
