.expense-header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 8rem;
  background-color: rgba($border-color, 0.3);
  border: 0.1rem solid rgba($border-color, 0.2);
  flex-wrap: wrap;
  margin-top: 4rem;

  & span {
    & p {
      font-size: 1.8rem;
    }
  }
}

.delete-all-btn {
  width: 18rem;
  height: 5rem;
  color: $color-light;
  background: $color-danger;
  margin: 1rem 0;
}

.expense-list {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 8rem;
  background-color: rgba($border-color, 0.1);
  border: 0.1rem solid rgba($border-color, 0.2);
  flex-wrap: wrap;
  cursor: pointer;

  &:hover {
    background-color: rgba($border-color, 0.2);
  }

  &:active {
    background-color: rgba($border-color, 0.5);
  }

  & h3 {
    font-size: 2.5rem;
    text-transform: capitalize;
    color: $color-dark;
  }

  & p {
    margin-top: 1.3rem;
    font-size: 1.6rem;
    color: $color-dark;
    text-transform: capitalize;
  }
}
