.form-add {
  width: 100%;
  position: relative;
  padding: 2rem 10rem;

  & h1 {
    font-size: 4rem;
  }

  & .form-container {
    position: relative;

    & h3 {
      font-size: 2rem;
      margin: 1rem 0;
    }

    & form {
      display: flex;
      flex-direction: column;

      & input,
      textarea {
        height: 4rem;
        width: 100%;
        margin: 1rem 0;
        padding: 0.5rem;
        border: none;
        border: 0.1rem solid rgba($border-color, 0.4);
      }

      & button {
        width: 30%;
        padding: 1.5rem;
        background: $tertiary-color;
        color: $color-light;
        transition: all 0.2s;

        &:hover {
          background: $tertiary-color-hover;
        }
      }
    }
  }

  & .btn-remove {
    width: 25%;
    padding: 1.5rem;
    background: $color-danger;
    color: $color-light;
    transition: all 0.2s;
    margin: 1rem 0;

    &:hover {
      background: $tertiary-color-hover;
    }
  }
}
