.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background: $primary-color;
  padding-left: 8.5rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  &__title {
    font-size: 2.5rem;
    color: $color-light;
  }

  &__controller {
    display: flex;
    align-self: stretch;
    width: 50%;

    .isActive {
      border-bottom: 0.2rem solid $primary-color;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $color-gray-light;
      flex-grow: 1;
      font-size: 1.4rem;
      text-align: center;
      padding: 1.8rem 0;
      color: $primary-color;
      border: 0.1rem solid rgba($color-gray, 0.4);
      border-top: none;
      transition: all 0.1s;

      @media screen and (max-width: 768px) {
        padding: 0.8rem;
      }

      &:hover {
        border-bottom: 0.2rem solid $primary-color;
      }

      &:active {
        background-color: $color-gray-dark;
      }
    }
    & button {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      background-color: $color-dark;
      flex-grow: 1;
      font-size: 1.4rem;
      color: $color-light;
      padding: 0 2rem 0;

      & img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        margin-left: 2rem;
      }
    }
  }
}
