.header {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  background: $primary-color;
  padding-left: 8.5rem;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    height: auto;
    padding: 0;
  }

  &__title {
    font-size: 2.5rem;
    color: $color-light;
  }

  &__controller {
    display: flex;
    align-self: stretch;
    width: 40%;

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    & a {
      background-color: $color-gray-light;
      flex-grow: 1;
      font-size: 1.4rem;
      text-align: center;
      padding: 1.8rem 0;
      color: $primary-color;
      border: 0.1rem solid rgba($color-gray, 0.4);
      border-top: none;

      @media screen and (max-width: 768px) {
        padding: 0.8rem;
      }

      &:active {
        background-color: $color-gray-dark;
      }
    }
    & button {
      background-color: $color-dark;
      flex-grow: 1;
      font-size: 1.4rem;
      color: $color-light;
    }
  }
}
