.login {
  position: relative;
  width: 100%;
  height: auto;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;

    @media screen and (min-width: 0px) and (max-width: 767px) {
      flex-direction: column;
    }

    & h1 {
      a {
        font-size: 3rem;
        color: $secondary-color;
      }
    }

    & ul {
      display: flex;
      align-items: center;

      @media screen and (min-width: 0px) and (max-width: 767px) {
        flex-direction: column;
      }

      & li {
        font-size: 1.6rem;
        color: $secondary-color;
        font-weight: 700;
        cursor: pointer;
      }

      & li {
        a {
          font-size: 1.6rem;
          color: $secondary-color;
          font-weight: 700;
          cursor: pointer;
        }
      }

      & li:not(:last-child) {
        margin-right: 5.5rem;
        transition: all 0.2s;

        @media screen and (min-width: 0px) and (max-width: 767px) {
          margin: 0.2rem;
        }

        &:hover {
          color: $primary-color;
          transform: scale(1.1);
        }
      }

      & li:last-child {
        background-color: rgba($secondary-color, 0.2);
        border-radius: 50px;
        padding: 1rem 4rem;
        transition: all 0.2s;
        display: flex;
        align-items: center;

        & img {
          width: 1.5rem;
          margin-left: 1rem;
        }
        .photoUrl {
          width: 2rem;
          border-radius: 50%;
        }

        &:hover {
          background-color: rgba($secondary-color, 0.8);
          color: $color-light;
        }
      }
    }
  }

  &__main {
    position: relative;

    &_items {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 12rem 0;

      @media screen and (min-width: 0px) and (max-width: 767px) {
        padding: 8rem 0;
      }

      &_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 8.5rem;
        font-weight: 700;
        line-height: 1.1;
        color: $secondary-color;

        @media screen and (min-width: 0px) and (max-width: 767px) {
          font-size: 5.5rem;
        }
      }

      & img {
        width: 50%;
        margin: auto;
        margin-top: 10rem;
        animation: bounce infinite 2s 2s;

        @media screen and (min-width: 0px) and (max-width: 767px) {
          width: 80%;
        }
      }
    }
  }

  &__benefits {
    position: relative;

    &_items {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 6rem;

      @media screen and (min-width: 0px) and (max-width: 800px) {
        flex-direction: column;
      }

      & div {
        flex-basis: 33%;
        margin: 2rem;

        & h2 {
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
}
