.pnf {
  @include centerTop;
  width: 70%;

  @media screen and (max-width: 768px) {
    width: 90%;
  }
  & h1 {
    font-size: 7rem;
  }

  & h3 {
    font-size: 3.5rem;
  }

  & a {
    position: relative;
    display: block;
    background: $color-dark-light;
    width: 30%;
    padding: 1rem 4rem;
    color: $color-light;
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem 0;

    @media screen and (max-width: 768px) {
      width: 60%;
    }
  }
}
