* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media screen and (max-width: 414px) {
    html {
      font-size: 58.5%; } }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  color: #222831;
  cursor: url("/src/assets/Location_dot_purple.svg.png"), auto; }

h1,
h2,
h3 {
  letter-spacing: 0.1rem; }

p {
  font-size: 1.6rem;
  color: #393e46 !important; }

ul {
  list-style: none; }

a:link {
  text-decoration: none; }

input,
textarea,
select {
  outline: none;
  color: #222831;
  border: none;
  font-family: "Montserrat", sans-serif; }

::placeholder {
  color: #adadad;
  font-family: "Montserrat", sans-serif; }

button {
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.645, 0.045, 0.355, 4); }

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.contain {
  width: 90%;
  margin: auto; }

@keyframes bounce {
  0% {
    transform: translateY(0rem); }
  50% {
    transform: translateY(-3rem); }
  100% {
    transform: translateY(0rem); } }

.expenses {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column; }
  .expenses__summary_container {
    width: 100%; }
    .expenses__summary_container_summary {
      width: 100%;
      margin: 1rem; }
      .expenses__summary_container_summary h1 {
        font-size: 2.5rem;
        color: #393e46; }
    .expenses__summary_container_filter {
      display: flex;
      margin: 1rem 0; }
      @media screen and (max-width: 768px) {
        .expenses__summary_container_filter {
          flex-direction: column; } }
      .expenses__summary_container_filter input {
        padding-left: 2rem;
        border-bottom: 1.5px solid #6a0dad; }
        @media screen and (max-width: 768px) {
          .expenses__summary_container_filter input {
            height: 4rem;
            margin: 0.5rem 0; } }
      .expenses__summary_container_filter select {
        padding: 0 2rem;
        border-bottom: 1.5px solid #6a0dad; }
        @media screen and (max-width: 768px) {
          .expenses__summary_container_filter select {
            height: 4rem;
            margin: 0.5rem 0; } }
  .expenses__list_container {
    width: 100%;
    margin: 2rem 0; }
    .expenses__list_container_expense {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .expenses__list_container_expense a {
        display: block;
        flex-basis: 100%;
        flex-shrink: 0; }
      .expenses__list_container_expense_item {
        margin: 1rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: auto;
        min-height: 20rem;
        background-color: rgba(190, 190, 190, 0.1);
        padding: 2.2rem 2rem;
        box-shadow: 5px 10px 5px -7px rgba(190, 190, 190, 0.5);
        transition: all 0.1s cubic-bezier(0.455, 0.03, 0.515, 2); }
        .expenses__list_container_expense_item:hover {
          background-color: rgba(135, 65, 187, 0.2); }
        .expenses__list_container_expense_item:active {
          transform: scale(0.9); }
        .expenses__list_container_expense_item h3 {
          font-size: 2.2rem;
          color: #8741bb;
          text-transform: capitalize; }
        .expenses__list_container_expense_item p {
          text-transform: capitalize; }
        .expenses__list_container_expense_item_price {
          background-color: rgba(135, 65, 187, 0.4);
          border-radius: 50px;
          padding: 0.5rem 1rem; }
          .expenses__list_container_expense_item_price p {
            font-size: 1.3rem;
            color: #8741bb !important;
            font-weight: 700; }

.login {
  position: relative;
  width: 100%;
  height: auto; }
  .login__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0; }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      .login__nav {
        flex-direction: column; } }
    .login__nav h1 a {
      font-size: 3rem;
      color: #8741bb; }
    .login__nav ul {
      display: flex;
      align-items: center; }
      @media screen and (min-width: 0px) and (max-width: 767px) {
        .login__nav ul {
          flex-direction: column; } }
      .login__nav ul li {
        font-size: 1.6rem;
        color: #8741bb;
        font-weight: 700;
        cursor: pointer; }
      .login__nav ul li a {
        font-size: 1.6rem;
        color: #8741bb;
        font-weight: 700;
        cursor: pointer; }
      .login__nav ul li:not(:last-child) {
        margin-right: 5.5rem;
        transition: all 0.2s; }
        @media screen and (min-width: 0px) and (max-width: 767px) {
          .login__nav ul li:not(:last-child) {
            margin: 0.2rem; } }
        .login__nav ul li:not(:last-child):hover {
          color: #6a0dad;
          transform: scale(1.1); }
      .login__nav ul li:last-child {
        background-color: rgba(135, 65, 187, 0.2);
        border-radius: 50px;
        padding: 1rem 4rem;
        transition: all 0.2s;
        display: flex;
        align-items: center; }
        .login__nav ul li:last-child img {
          width: 1.5rem;
          margin-left: 1rem; }
        .login__nav ul li:last-child .photoUrl {
          width: 2rem;
          border-radius: 50%; }
        .login__nav ul li:last-child:hover {
          background-color: rgba(135, 65, 187, 0.8);
          color: #ffffff; }
  .login__main {
    position: relative; }
    .login__main_items {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 12rem 0; }
      @media screen and (min-width: 0px) and (max-width: 767px) {
        .login__main_items {
          padding: 8rem 0; } }
      .login__main_items_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 8.5rem;
        font-weight: 700;
        line-height: 1.1;
        color: #8741bb; }
        @media screen and (min-width: 0px) and (max-width: 767px) {
          .login__main_items_text {
            font-size: 5.5rem; } }
      .login__main_items img {
        width: 50%;
        margin: auto;
        margin-top: 10rem;
        animation: bounce infinite 2s 2s; }
        @media screen and (min-width: 0px) and (max-width: 767px) {
          .login__main_items img {
            width: 80%; } }
  .login__benefits {
    position: relative; }
    .login__benefits_items {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 6rem; }
      @media screen and (min-width: 0px) and (max-width: 800px) {
        .login__benefits_items {
          flex-direction: column; } }
      .login__benefits_items div {
        flex-basis: 33%;
        margin: 2rem; }
        .login__benefits_items div h2 {
          font-size: 2rem;
          font-weight: 700; }

.loader {
  position: relative;
  width: 100%;
  height: 100vh; }
  .loader__img_conatainer {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateX(50%) translateY(-50%); }
    .loader__img_conatainer img {
      width: 15rem;
      filter: brightness(60%) #6a0dad 40%; }
      @media screen and (min-width: 0px) and (max-width: 414px) {
        .loader__img_conatainer img {
          width: 5rem; } }
      @media screen and (min-width: 415px) and (max-width: 768px) {
        .loader__img_conatainer img {
          width: 8rem; } }
      @media screen and (min-width: 769px) and (max-width: 1024px) {
        .loader__img_conatainer img {
          width: 10rem; } }

.expense__add {
  width: 100%;
  height: auto; }
  .expense__add_container {
    position: relative;
    margin: 5rem auto;
    width: 50%; }
    .expense__add_container h1 {
      color: #8741bb; }
    @media screen and (max-width: 1024px) {
      .expense__add_container {
        width: 90%; } }
    .expense__add_container_remove {
      display: block;
      width: 25%;
      height: 4rem;
      background: #393e46;
      color: #ffffff;
      margin-top: 1rem;
      border-radius: 50px; }
      @media screen and (max-width: 1024px) {
        .expense__add_container_remove {
          width: 40%; } }
    .expense__add_container_form_container {
      width: 100%;
      position: relative; }
      .expense__add_container_form_container form {
        width: 100%; }
        .expense__add_container_form_container form input,
        .expense__add_container_form_container form textarea {
          display: block;
          width: 100%;
          margin: 1rem 0;
          padding-left: 1rem;
          border-bottom: 1.5px solid #6a0dad; }
        .expense__add_container_form_container form input {
          height: 5rem; }
        .expense__add_container_form_container form textarea {
          height: 10rem;
          padding-top: 2rem; }
        .expense__add_container_form_container form button {
          display: block;
          width: 25%;
          height: 4rem;
          background: #8741bb;
          color: #ffffff;
          border-radius: 50px; }
          @media screen and (max-width: 1024px) {
            .expense__add_container_form_container form button {
              width: 40%; } }

.pnf {
  position: absolute;
  top: 40%;
  right: 50%;
  transform: translateX(50%) translateY(-50%);
  width: 70%; }
  @media screen and (max-width: 768px) {
    .pnf {
      width: 90%; } }
  .pnf h1 {
    font-size: 7rem; }
  .pnf h3 {
    font-size: 3.5rem; }
  .pnf a {
    position: relative;
    display: block;
    background: #393e46;
    width: 30%;
    padding: 1rem 4rem;
    color: #ffffff;
    text-align: center;
    font-size: 1.8rem;
    margin: 2rem 0; }
    @media screen and (max-width: 768px) {
      .pnf a {
        width: 60%; } }

.footer {
  position: relative;
  width: 100%;
  padding: 5rem;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  text-align: center; }
  .footer span {
    font-size: 1.2rem;
    font-weight: 400; }
